/**
 * @created by anonymous 2019-12-09
 * @updated by
 * @description scss基类，仅用于业务scss页面需要使用@extend，@mixin引入时去各自@import
 */
page {
  background-color: #F4F5F6;
}
//标题样式
.font-16 {
  font-size: 32rpx;
  line-height: 44rpx;
  // color: $title-color;
}

.font-15 {
  font-size: 30rpx;
  line-height: 42rpx;
}

.font-14 {
  font-size: 28rpx;
  line-height: 40rpx;
}

.font-13 {
  font-size: 26rpx;
  line-height: 36rpx;
}

//最小字体
.font-12 {
  font-size: 24rpx;
  line-height: 34rpx;
  // color: $title-color;
}

.font-10 {
  font-size: 24rpx;
  line-height: 34rpx;
  transform: scale(.84);
  -ms-transform: scale(.84);
  -webkit-transform: scale(.84);
  -moz-transform: scale(.84);
}

.font-11 {
  font-size:22rpx;
  line-height:30rpx;
}
.font-17 {
  font-size: 34rpx;
  line-height: 48rpx;
}
.font-18 {
  font-size: 36rpx;
  line-height: 50rpx;
}

.font-20 {
  font-size: 40rpx;
  line-height: 56rpx;
}
//数字字体
.font-21 {
  line-height: 56rpx;
  font-size: 42rpx;
  font-weight: 500;
}
.font-22 {
  line-height: 62rpx;
  font-size: 44rpx;
  font-weight: 500;
}

.font-24 {
  font-size: 48rpx;
  line-height: 64rpx;
}

.font-26 {
  font-size: 52rpx;
  line-height: 74rpx;
}
.font-32 {
  font-size:64rpx;
  line-height:48rpx;
}

//清楚浮动
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

.general-margin {
  margin-left: 30rpx;
  margin-right: 30rpx;
}
